@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
	font-family: 'Open Sans', sans-serif;
}

.announce {
	background-color: #FFF200;
	color: black;
}

body {
	background-color: #191B1C;
	color: white;
}

.topbar {
	padding-left: 0px;
	background-color:  #343434;
}
.topbar ul li {
	display: inline-block;
	padding: 10px 20px;
}

.topbar ul li:hover {
	background-color: black;
}

a {
	color: #7BC4FD;
}

a:hover {
	color: #6BA6FD;
}

.box {
  border-radius: 25px;
  background: black;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.flexbox {
  display: flex;
}

.cover {
	border-radius: 25px;
	padding: 15px;
	display: flow;
}

.right {
	margin-left: auto; 
	margin-right: 0;
}

.discordlogo {
	background: url('/contact/discord.png') no-repeat;
	background-size: 28px;
	display: block;	
	padding-left: 38px;
	text-align: top;
	font-size: 20px
}

.discordbox {
	background-color: #5865F2
}
