@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
	font-family: 'Open Sans', sans-serif;
}

.announce {
	background-color: #FFF200;
	color: black;
}

body {
	background-color: #191B1C;
	color: white;
}

.topbar {
	padding-left: 0px;
	background-color:  #343434;
}
.topbar ul li {
	display: inline-block;
	padding: 10px 20px;
}

.topbar ul li:hover {
	background-color: black;
}
